{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<header>
    <h3>lighter designboard</h3>
</header>
<main>
    <section class='prime'>
        <h2>community-driven </h2>
        <h1 id='promo'>Lighter designboard</h1>
    </section>
    <section class='secondary'>
        <h2>Typography</h2>
        <p> Main lighter font is based on UI font. In most cases it is <em>Inter</em></p>
        <h3> Sizes hierarchy</h3>
        <p>
            XS: .75rem;
            SM: .875rem;
            Base: 1rem;
            LG: 1.125rem;
            XL: 1.25rem;
            2XL 1.5rem;
            4XL 2.25rem;
            9XL 8rem </p>
    </section>
    <section class='secondary'>
        <h2>Colors</h2>
        <p> Ligter use these shades of black&gray for it's primary colors: <em class='primary-1'>#06060c</em> <em class='primary-2'>#121218</em>
            <em class='primary-3'>#2b2b30</em>.</p>
            <p>Soft white as secondary: <em class='secondary'>#fbfcff</em></p>
            <p>And green&red for accents <em class='accent-1'>#159564</em> <em class='accent-2'>#e63348</em></p>
    </section>
    <section class='secondary icons'>
        <h2>Icons</h2>
        <section>
            <a href='static/images/ico.png' download><img src='static/images/ico.png'></a>
            <a href='static/images/icoblured.png' download><img src='static/images/icoblured.png'></a>
            <a href='static/images/icodotted.png' download><img src='static/images/icodotted.png'></a>
            <a href='static/images/lighter.png' download><img src='static/images/lighter.png'></a>
            <a href='static/images/lighterico.png' download><img src='static/images/lighterico.png'></a>
        </section>
    </section>
</main>
<footer>
    <h3>Developed by <a href='https://kuzminklk.vercel.app/' target='_blank'>kuzminklk</a></h3>
    <h3><a href='#'>GitHub</a></h3>
</footer>
{% endblock %}